data/
local/
venv/
*.log
*.pyc
.ipynb_checkpoints/
curve_analyzer/.ipynb_checkpoints/ 
curve_analyzer/tests/.ipynb_checkpoints
*.ipynb
curve_analyzer/tests/test_launcher.py
curve_analyzer/tests/sample_curves.py
curve_analyzer/tests/.*
.idea/
curve_analyzer/tests/**/*.json
curve_analyzer/tests/**/*.params
curve_analyzer/tests/**/*.txt
curve_analyzer/utils/parallel/results/*
curve_analyzer/curves_json_sim/*
/curve_analyzer.egg-info/
DiSSECT.egg-info
curve_analyzer/__pycache__/
curve_analyzer/tests/__pycache__/
curve_analyzer/tests/a01/__pycache__/
curve_analyzer/tests/a02/__pycache__/
curve_analyzer/tests/a04/__pycache__/
curve_analyzer/tests/a05/__pycache__/
curve_analyzer/tests/a06/__pycache__/
curve_analyzer/tests/a08/__pycache__/
curve_analyzer/tests/a12/__pycache__/
curve_analyzer/tests/a22/__pycache__/
curve_analyzer/tests/a23/__pycache__/
curve_analyzer/tests/a24/__pycache__/
curve_analyzer/tests/a25/__pycache__/
curve_analyzer/tests/i06/__pycache__/
curve_analyzer/tests/i07/__pycache__/
curve_analyzer/tests/unit_tests/__pycache__/
curve_analyzer/utils/__pycache__/
curve_analyzer/utils/parallel/__pycache__/
curve_analyzer/utils/parallel/job_manager/__pycache__/
curve_analyzer/utils/parallel/x962/__pycache__/
