data/
local/
build/
*venv/
.idea/
*.log
*.tmp
*.pyc
*.ipynb
!dissect/visual/*.ipynb
dissect/**/__pycache__
dissect/traits/.*
dissect/traits/sample_curves.py
dissect/traits/**/*.json
!dissect/traits/**/*_structure.json
dissect/traits/**/*.txt
*.egg-info
/dissect/results/
