{% extends 'base.html' %}
{% set active_page = "curve" %}

{% block content %}
<h1>Curve list</h1>

<form id="curve-table-filter">
    <div class="row">
        <div class="col form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="col form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category">
                <option value="any">any</option>
                <option value="std">std</option>
                <option value="sim">sim</option>
                <option value="anssi">anssi</option>
                <option value="bls">bls</option>
                <option value="bn">bn</option>
                <option value="brainpool">brainpool</option>
                <option value="gost">gost</option>
                <option value="mnt">mnt</option>
                <option value="nist">nist</option>
                <option value="nums">nums</option>
                <option value="oakley">oakley</option>
                <option value="oscaa">oscaa</option>
                <option value="other">other</option>
                <option value="secg">secg</option>
                <option value="WTLS">WTLS</option>
                <option value="x962">x962</option>
                <option value="x962_sim_128">x962_sim_128</option>
                <option value="x962_sim_160">x962_sim_160</option>
                <option value="x962_sim_192">x962_sim_192</option>
                <option value="x962_sim_224">x962_sim_224</option>
                <option value="x962_sim_256">x962_sim_256</option>
                <option value="x963">x963</option>
            </select>
        </div>
        <div class="col form-group">
            <label for="bitlength">Bitlength</label>
            <select class="form-control" id="bitlength">
                <option value="0">any</option>
                {% for bitlength in bitlengths %}
                <option value="{{ bitlength }}">{{ bitlength }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col form-group">
            <label for="cofactor">Cofactor</label>
            <select class="form-control" id="cofactor">
                <option value="0">any</option>
                {% for cofactor in range(1, 10) %}
                <option value="{{ cofactor }}">{{ cofactor }}</option>
                {% endfor %}
                <option value="11">more</option>
            </select>
        </div>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr><th>Name</th><th>Category</th><th>Bitlength</th><th>Cofactor</th></tr>
    </thead>
    <tbody id="curve-table">
        <tr><td colspan="4" style="text-align: center;"><i>Data is being loaded …</i></td></tr>
    </tbody>
</table>

<a href="#" id="load-more" class="btn btn-primary" role="button" aria-pressed="true" style="margin-bottom: 1rem;">Load more</a>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        function getFilter() {
            return {
                "page": page,
                "name": $("#name").val(),
                "category": $("#category").val(),
                "bitlength": $("#bitlength").val(),
                "cofactor": $("#cofactor").val()
            }
        }

        function changeTable(data) {
            var table = $("#curve-table");
            table.empty();
            appendTable(data);
            $("#load-more").removeClass("disabled");
        }

        function appendTable(data) {
            var table = $("#curve-table");
            var counter = 0;
            $.each(data, function(i, item){
                var row = $("<tr><td>" + item["name"] + "</td><td>" + item["category"] + "</td><td>" + item["bitlength"] + "</td><td>" + item["cofactor"] + "</td></tr>");
                row.click(function() {
                    window.location='/curve/' + item["name"];
                });
                table.append(row);
                counter += 1;
            });
            if(counter == 0) {
                $("#load-more").addClass("disabled");
            }
        }

        function updateData(extend) {
            if(!extend) {
                page = 0;
            } else {
                page += 1;
            }
            $.getJSON("/api/curves/", getFilter())
                .done(function(json) {
                    if(extend) {
                        appendTable(json);
                    } else {
                        changeTable(json);
                    }
                })
                .fail(function(jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    console.log( "Request Failed: " + err );
                });
        }

        $("#curve-table-filter").on("input", function() {
            updateData(false);
        });
        $("#load-more").on("click", function() {
            updateData(true);
            return false;
        });

        var page = 0;
        updateData(false);
    </script>
{% endblock %}
